:root {
  --color-table-bg: rgb(190, 205, 226);
  --color-light: #f1f5f8;
  --text-color: #31456a;
  --color-gray: #9da9be;
  --color-borders: rgb(164, 188, 216);
  --bg-color: linear-gradient(318.32deg, rgb(175, 190, 211) 6.02%, rgb(212, 224, 238) 54.14%, rgb(202, 218, 235) 100.43%);
  --color-hover: rgb(240, 246, 255);
  --bg-card-color: linear-gradient(180deg, #f1f5f8 0%, #ebf3fa 0.01%, #dde7f3 53.92%, #e5f0f9 100%);
  --bg-color-element: #e3edf7;
  --radius: 3rem;
  --box-shadow: inset 0 0 0 #ffffff, inset 0 0 0 rgba(136, 165, 191, 0.58), -4px -2px 0.5rem #ffffff, 4px 2px 0.5rem rgba(136, 165, 191, 0.58);
  --box-shadow-big: -1.5rem -1rem 4rem #ffffff, 1.5rem 2rem 4rem rgba(136, 165, 191, 0.58);
  --box-inner-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 7px rgba(136, 165, 191, 0.58), 0 0 0 #ffffff, 0 0 0 rgba(136, 165, 191, 0.58);
  --text-shadow: 0 1px 1px rgba(26,26,26,.1);
  --btn-outer-shadow: inset 0 0 0 0 var(--bg-color-element), inset 0 0 1px 0 #ffffff, inset 0 0 1px 0 rgba(136, 165, 191, 0.58), -4px -2px 1rem #ffffff, 4px 2px 1rem rgba(136, 165, 191, 0.58);
  --btn-inner-shadow: inset 0 0 0 2px var(--bg-color-element), inset -3px -3px 7px 2px #ffffff, inset 3px 3px 7px 2px rgba(136, 165, 191, 0.58), -1px -1px 3px 0px #ffffff, 1px 1px 2px -1px rgba(136, 165, 191, 0.58);
  --mobile-size: 272px;
  --input-inner-shadow: inset -1px -1px 3px #fff, inset 1px 1px 3px rgba(136,165,191,.58), 0 0 0 #fff, 0 0 0 rgba(136,165,191,.58);
}

$size-1: 0.85rem;
$color-aux: transparentize($color: #31456a, $amount: 0.2);


@mixin inner-box($shadow: --box-shadow, $pad: 1rem) {
  padding: $pad;
  box-shadow: var($shadow);
  border-radius: 1rem;
  background: var(--bg-color-element);
}


@mixin media($name: phone) {
  @if $name == iphone5s {
    @media screen and (max-width: 340px) {
      @content;
    }
  }
  @else if $name == phone {
    @media screen and (min-width: 500px) {
      @content;
    }
  }
  @else if $name == tablet {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
  @else if $name == laptop {
    @media screen and (min-width: 986px) {
      @content;
    }
  }
  @else if $name == netbook {
    @media screen and (min-width: 1120px) {
      @content;
    }
  }
  @else if $name == desktop {
    @media screen and (min-width: 1300px) {
      @content;
    }
  }
}




* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  box-sizing: border-box;
  transition: all .2s ease;
  text-shadow: var(--text-shadow);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', Arial, 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  list-style-type: none;
}

thead {
  font-weight: bold;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background: var(--bg-color);
}

.app {
  display: grid;
  grid-template-rows: max-content auto max-content;
  grid-template-columns: minmax(280px, 400px);
  justify-content: center;
  gap: 2rem;
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  background: var(--bg-card-color);

  @include media(netbook) {
    max-width: 1000px;
    margin: 2rem 0;
    padding: 2rem;
    min-height: initial;
    border-radius: 2.5rem;
    box-shadow: 1.5rem 2rem 4rem rgba(136, 165, 191, 0.58);
  }
  
  @include media(laptop) {
    grid-template-columns: minmax(400px, 800px);
  }

  @include media(iphone5s) {
    padding: 1rem 0.5rem;
  }
}

.app__title {
  margin: 0;
  font-size: 2.5rem;
}

.app__content {
  display: grid;
  grid-template-rows: max-content auto max-content;
  gap: 3rem;
  padding: 0;
}

.app__item--header {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.app__item > :first-child {
  @include media(laptop) {
    justify-self: center;
  }
}

.app__info {
  @include media(laptop) {
    max-width: 356px;
    width: 100%;
  }
}

.info__text {
  color: $color-aux;
  font-size: $size-1;
  text-align: center;
  @include inner-box(--box-shadow, 1rem 1.5rem);


  &--updated-date {
    color: $color-aux;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: none;
  background-size: 200%;
  background-position: 100% 100%;
  border: none;
  border-radius: 1rem;
  box-shadow: var(--btn-outer-shadow);
  cursor: pointer;
  outline: none;

  &:hover {
    background: #e5f0f9;
  }

  &:focus {
    background: linear-gradient(180deg, #EBF3FA 9.85%, #DDE7F3 53.92%, #E6F0F9 100%);
    box-shadow: var(--btn-inner-shadow);

    svg {
      transform: scale(0.9);
    }
  }
}

.section__list {
  display: grid;
  gap: 0.5rem;
  justify-content: center;
  text-align: center;

  &--states {
    grid-template-rows: repeat(auto-fit, minmax(max-content, 40px));
    grid-template-columns: repeat(auto-fit, minmax(max-content, 2rem));
  }

  .section-list__item {
    padding: 0.5rem 0 1rem;
    border-bottom: 1px solid var(--color-table-bg);
  }

  &--search-list {
    margin-top: 2rem;
  }
}

.banner {
  display: none;

  &.active {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @include media(laptop) {
      grid-template-columns: repeat(2, 1fr);

      & > :first-child {
        grid-column: 1 / -1;
      }
    }
  }
} 

.banner-togglers {
  display: grid;
  grid-template-rows: repeat(1, 4rem);
  grid-template-columns: repeat(auto-fit, minmax(max-content, 4rem));
  justify-content: space-between;

  @include media(laptop) {
    justify-content: center;
    gap: 2rem;
  }
}

.section {
  grid-column: 1 / -1;
  display: grid;
  gap: 1rem;
  width: 100%;
  font-size: $size-1;
  @include inner-box(--box-shadow, 2rem 1rem);

  @include media(laptop) {
    grid-column: initial;
  }

  @include media(tablet) {
    padding: 2rem;
  }

  &::before {
    content: attr(data-text);
    display: block;
    grid-column: 1 / -1;
    margin-bottom: 0.25rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
  }

  &-search {
    grid-template-columns: minmax(max-content, var(--mobile-size));
    justify-content: center;
  }
}

.section-table {
  border-collapse: collapse;
  width: 100%;
  
  thead {
    td {
      padding: 0.5rem 0.5rem 0.75rem;
    }
  }
  
  td {
    padding: 0.75rem 0.5rem;
  }

  tr {
    border-bottom: 1px solid var(--color-table-bg);
  }

  tbody {
    td {
      color: $color-aux;
    }

    tr:hover {
      background: var(--color-table-bg);
    }
  }
}



// Form
.search-form {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
}

.input-field {
  display: block;
  padding: 1rem 5rem 1rem 1rem;
  width: 100%;
  min-width: var(--mobile-size);
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1rem;
  box-shadow: var(--input-inner-shadow);
  border-radius: 1rem;
  outline: none;

  &::placeholder {
    color: var(--color-gray);
  }

  &:focus {
    background: var(--color-light);
  }
}

.search-form__label {
  display: grid;
  justify-content: center;
  gap: 0.5rem;
}

.small {
  font-size: 0.75rem;
  color: var(--color-gray);
  text-align: center;
}

.search-form__button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background: var(--bg-color-element);
}

// Footer
.app__footer {
  display: grid;
  gap: 2rem;
  text-align: center;
  padding-top: 2rem;
  border-top: 1px solid var(--color-table-bg);
}

.socials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include media(tablet) {
    max-width: 356px;
    width: 100%;
    gap: 2rem;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-child(2n) {
    border-right: 1px solid transparentize($color: #31456a, $amount: 0.5);
    border-left: 1px solid transparentize($color: #31456a, $amount: 0.5);
  }
}

.social__icon {
  max-width: 18px;
  height: 18px;
}

.app__credits {
  font-size: 0.75rem;
}